<p>signin works!</p>
<div class="wrapper">
    
    <div class="body">
        <img class="logo" src="../../../assets/img/usuario.png" alt="img login">
        <h1>SignIn</h1>
        <div class="form-floating mb-3 mt-2">
            <input type="text" class="form-control"  placeholder="Ingrese usuario">
            <!-- <label class="wrapper">Usuario</label> -->
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  placeholder="Ingrese Password">
            <!-- <label class="wrapper">Password </label> -->
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  placeholder="Repetir Password">
            <!-- <label class="wrapper">Repetir Password </label> -->
        </div>
        <div class="d-grid ">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/dashboard">Aceptar</button>
        </div>
        
        <p>Volver al Inicio <a routerLink="/login">Volver</a></p>
    </div>    

</div>
